<connectionStrings>
  <clear />
  <add name="EPiServerDB" connectionString="Data Source=WIN-CCSID4DUBPN\SQLEXPRESS;Initial Catalog=dbMyEPiServerSite2;Integrated Security=False;User ID=dbUserMyEPiServerSite2;Password=hsn@41#%1Asf;Connect Timeout=10" providerName="System.Data.SqlClient" />
</connectionStrings>