<episerver.framework>
  <scanAssembly forceBinFolderScan="true" />
  <siteHostMapping>
    <siteHosts siteId="MyEPiServerSite2">
      <clear />
      <add name="localhost:1039" />
      <add name="*" />
      <add name="win-ccsid4dubpn:17001" />
      <add name="localhost" />
      <add name="localhost:17001" />
    </siteHosts>
  </siteHostMapping>
  <automaticSiteMapping>
    <add key="/LM/W3SVC/3/ROOT:WIN-CCSID4DUBPN" siteId="MyEPiServerSite2" />
    <add key="/LM/W3SVC/2/ROOT:WIN-CCSID4DUBPN" siteId="MyEPiServerSite2" />
  </automaticSiteMapping>
  <virtualRoles replacePrincipal="true">
    <providers>
      <add name="Administrators" type="EPiServer.Security.WindowsAdministratorsRole, EPiServer.Framework" />
      <add name="Everyone" type="EPiServer.Security.EveryoneRole, EPiServer.Framework" />
      <add name="Authenticated" type="EPiServer.Security.AuthenticatedRole, EPiServer.Framework" />
      <add name="Anonymous" type="EPiServer.Security.AnonymousRole, EPiServer.Framework" />
      <add roles="WebAdmins, Administrators" mode="Any" name="CmsAdmins"
        type="EPiServer.Security.MappedRole, EPiServer.Framework" />
      <add roles="WebEditors" mode="Any" name="CmsEditors" type="EPiServer.Security.MappedRole, EPiServer.Framework" />
      <add name="Creator" type="EPiServer.Security.CreatorRole, EPiServer" />
    </providers>
  </virtualRoles>
  <geolocation defaultProvider="maxmind">
    <providers>
      <add databaseFileName="C:\Program Files (x86)\EPiServer\Framework\6.2.267.1\Geolocation\GeoLiteCity.dat"
        name="maxmind" type="EPiServer.Personalization.Providers.MaxMind.GeolocationProvider, EPiServer.ApplicationModules" />
    </providers>
  </geolocation>
</episerver.framework>