<episerver xmlns="http://EPiServer.Configuration.EPiServerSection">
  <sites>
    <site description="Example Site" siteId="MyEPiServerSite2" licenseFilePath="C:\EPiServer\Sites\MyEPiServerSite2\Licenses\License.config">
      <siteSettings enableScheduler="true" stringCompressionThreshold="0"
        stringDelayedLoadThreshold="0" remoteWebServiceCulture="0" indexingDelayAfterPublish="00:00:20"
        uiDefaultPanelTab="0" indexingTextRegExp="[\p{N}\p{L}]{1}[\p{N}\p{L}-\._]*[\p{N}\p{L}]{1}"
        logServiceUrl="soap.tcp://localhost/TimeSpanAnalyzerView" uiImageTransparencyReplacement="White"
        globalErrorHandling="RemoteOnly" uiSafeHtmlTags="b,i,u,br,em,strong,p,a,img,ol,ul,li"
        uiOptimizeTreeForSpeed="false" sgmlParserDecodeCharEntities="false"
        enableXmlRpcHeader="true" remoteCacheListenerShortNames="" httpCacheVaryByCustom="path"
        httpCacheVaryByParams="id,epslanguage" httpCacheExpiration="00:00:00"
        httpCacheability="Public" pageCacheSlidingExpiration="12:00:00"
        remotePageCacheSlidingExpiration="02:00:00" uiEditorCssPaths="~/Templates/AlloyTech/Styles/Default/Editor.css"
        uiEditorColors="" uiEditorHeight="250" uiEditorWidth="500" uiEditorValueOptions="0"
        urlRewriteExtension="" urlRebaseKind="ToRootRelative" pageUseBrowserLanguagePreferences="false"
        uiShowGlobalizationUserInterface="true" subscriptionHandler="EPiServer.Personalization.SubscriptionMail,EPiServer"
        mirroringRetries="5" mirroringRetryDelay="00:00:01" mirroringHtmlTextEncoding="Unicode"
        mirroringFileWriteRetryDelay="00:00:05" pageRootId="1" pageStartId="3"
        pageWastebasketId="2" pageOfficeStartId="0" uiMaxVersions="0"
        uiVersionMerging="true" pageValidateTemplate="false" uiKeepUserLoggedOn="true"
        siteUrl="http://localhost:17001/" uiUrl="~/episerver/UI/CMS/"
        utilUrl="~/util/" siteDisplayName="Alloy Technologies" errorMailHandler="~/util/SendErrorReport.aspx"
        pageFolderVirtualPathProvider="SitePageFiles" uiTheme="" operationCompatibility="None" />
      <pageGuides>
        <guide name="News" title="Create news item" pageTypeName="[AlloyTech] News item"
          destinationPageId="41">
          <visibleProperties>
            <pageProperty propertyName="PageName" />
            <pageProperty propertyName="MainIntro" />
            <pageProperty propertyName="Author" />
            <pageProperty propertyName="MainBody" />
          </visibleProperties>
        </guide>
      </pageGuides>
    </site>
  </sites>
  <virtualPath customFileSummary="~/FileSummary.config">
    <providers>
      <clear />
      <add showInFileManager="true" virtualName="Page Files" virtualPath="~/PageFiles/"
        bypassAccessCheck="false" indexingServiceCatalog="Web" physicalPath="C:\EPiServer\VPP\MyEPiServerSite2\PageFiles"
        name="SitePageFiles" type="EPiServer.Web.Hosting.VirtualPathVersioningProvider,EPiServer" />
      <add showInFileManager="true" virtualName="Global Files" virtualPath="~/Global/"
        bypassAccessCheck="false" indexingServiceCatalog="Web" physicalPath="C:\EPiServer\VPP\MyEPiServerSite2\Global"
        name="SiteGlobalFiles" type="EPiServer.Web.Hosting.VirtualPathVersioningProvider,EPiServer" />
      <add showInFileManager="true" virtualName="Documents" virtualPath="~/Documents/"
        bypassAccessCheck="false" maxVersions="5" physicalPath="C:\EPiServer\VPP\MyEPiServerSite2\Documents"
        name="SiteDocuments" type="EPiServer.Web.Hosting.VirtualPathVersioningProvider,EPiServer" />
      <add virtualPath="~/App_Themes/Default/" physicalPath="C:\Program Files (x86)\EPiServer\CMS\6.1.379.0\application\App_Themes\Default"
        name="App_Themes_Default" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider,EPiServer" />
      <add virtualPath="~/episerver/UI/CMS/" physicalPath="C:\Program Files (x86)\EPiServer\CMS\6.1.379.0\application\UI\CMS"
        name="UI" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider,EPiServer" />
      <add virtualPath="~/Util/" physicalPath="C:\Program Files (x86)\EPiServer\CMS\6.1.379.0\application\util"
        name="UtilFiles" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider,EPiServer" />
      <add virtualPath="~/WebServices/" physicalPath="C:\Program Files (x86)\EPiServer\CMS\6.1.379.0\application\webservices"
        name="WebServiceFiles" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider,EPiServer" />
      <add virtualPath="~/episerver/UI/CMS" physicalPath="C:\Program Files (x86)\EPiServer\CMS\6.1.379.0\application\UI\EPiServer\CMS"
        name="EPiServerCMS" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider,EPiServer" />
      <add virtualPath="~/episerver/UI/Shell" physicalPath="C:\Program Files (x86)\EPiServer\Framework\6.2.267.1\Application\UI"
        name="EPiServerShell" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider,EPiServer" />
    </providers>
  </virtualPath>
  <urlRewrite defaultProvider="EPiServerFriendlyUrlRewriteProvider">
    <providers>
      <add description="EPiServer standard Friendly URL rewriter" name="EPiServerFriendlyUrlRewriteProvider"
        type="EPiServer.Web.FriendlyUrlRewriteProvider,EPiServer" />
      <add description="EPiServer identity URL rewriter" name="EPiServerIdentityUrlRewriteProvider"
        type="EPiServer.Web.IdentityUrlRewriteProvider,EPiServer" />
      <add description="EPiServer bypass URL rewriter" name="EPiServerNullUrlRewriteProvider"
        type="EPiServer.Web.NullUrlRewriteProvider,EPiServer" />
    </providers>
  </urlRewrite>
  <dynamicContent>
    <controls>
      <add description="Map dynamic content" name="MapDynamicContentDemo"
        type="EPiServer.Templates.AlloyTech.DynamicContent.MapDynamicContent, EPiServer.Templates.AlloyTech" />
    </controls>
  </dynamicContent>
  <workflowSettings workflowDelayedLoading="false">
    <workflowHost type="EPiServer.WorkflowFoundation.AspNetWorkflowManager,EPiServer.WorkflowFoundation" />
    <definitions>
      <definition type="EPiServer.WorkflowFoundation.Workflows.SequentialApproval,EPiServer.WorkflowFoundation"
        name="Sequential Approval" description="A sequential approval workflow for pages" />
      <definition type="EPiServer.WorkflowFoundation.Workflows.ParallelApproval,EPiServer.WorkflowFoundation"
        name="Parallel Approval" description="A parallel approval workflow for pages" />
      <definition type="EPiServer.WorkflowFoundation.Workflows.RequestForFeedback,EPiServer.WorkflowFoundation"
        name="Request for feedback" description="Assigns request for feedback tasks to users/roles" />
      <definition type="EPiServer.WorkflowFoundation.Workflows.ReadyForTranslation,EPiServer.WorkflowFoundation"
        name="Ready for translation" description="Assigns translation tasks to users/roles" />
    </definitions>
    <externalServices>
      <externalService type="EPiServer.WorkflowFoundation.Workflows.ApprovalService,EPiServer.WorkflowFoundation" />
      <externalService type="EPiServer.WorkflowFoundation.Workflows.ReadyForTranslationService,EPiServer.WorkflowFoundation" />
      <externalService type="EPiServer.WorkflowFoundation.Workflows.RequestForFeedbackService,EPiServer.WorkflowFoundation" />
    </externalServices>
  </workflowSettings>
  <imageEditor enabled="true" windowWidth="900" windowHeight="600">
    <sizePresets>
      <preset width="320" height="240" />
      <preset width="640" height="480" />
    </sizePresets>
  </imageEditor>
</episerver>