<?xml version="1.0" encoding="utf-8"?>
<views fallbackView="Default">

    <view name="Default" frameworkSource="~/Templates/Advanced/FileManager/DefaultView.ascx">
      <regions>
        <region id="Heading" contentSource="~/Templates/Advanced/FileManager/HeadingContent.ascx" />
        <region id="MainPanel" contentSource="~/Templates/Advanced/FileManager/FileList.ascx" />
      </regions>
    </view>

    <view name="ViewFileSummary">
      <regions>
        <region id="MainPanel" contentSource="~/Templates/Advanced/FileManager/ViewFileSummary.ascx" />
      </regions>
    </view>

    <view name="EditUnifiedSummary">
      <regions>
        <region id="MainPanel" contentSource="~/Templates/Advanced/FileManager/EditUnifiedSummary.ascx" />
      </regions>
    </view>

    <view name="EditCustomSummary">
      <regions>
        <region id="MainPanel" contentSource="~/Templates/Advanced/FileManager/EditCustomFileSummary.ascx" />
      </regions>
    </view>

    <view name="AddFile">
      <regions>
        <region id="MainPanel" contentSource="~/Templates/Advanced/FileManager/AddFile.ascx" />
      </regions>
    </view>

  <view name="CheckInFile">
	  <regions>
		  <region id="MainPanel" contentSource="~/Templates/Advanced/FileManager/CheckInFile.ascx" />
	  </regions>
  </view>

    <view name="VersionList">
      <regions>
        <region id="MainPanel" contentSource="~/Templates/Advanced/FileManager/VersionList.ascx" />
      </regions>
    </view>

    <view name="AddFolder">
      <regions>
        <region id="MainPanel" contentSource="~/Templates/Advanced/FileManager/RenameAndCreateFolder.ascx" />
      </regions>
    </view>

    <view name="RenameItem">
      <regions>
        <region id="MainPanel" contentSource="~/Templates/Advanced/FileManager/RenameAndCreateFolder.ascx" />
      </regions>
    </view>

    <view name="DeleteItem">
      <regions>
        <region id="MainPanel" contentSource="~/Templates/Advanced/FileManager/Delete.ascx"/>
      </regions>
    </view>

  <view name="DeleteItem">
    <regions>
      <region id="MainPanel" contentSource="~/Templates/Advanced/FileManager/Delete.ascx"/>
    </regions>
  </view>
</views>
